---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio alexsh-dev">
  <main class="p-16 m-auto w-full">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
	<Skills />
  </main>
</Layout>

<style>
  main {
    @apply m-auto p-16 w-full
  }
</style>



<script>
  const details = document.querySelectorAll("details");
  window.addEventListener("beforeprint", function () {
    details?.forEach((detail) => detail.setAttribute("open", ""));
  });
  window.addEventListener("afterprint", function () {
    details?.forEach((detail) => detail.removeAttribute("open"));
    
  });
</script>